[Unit]
Description= gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-date
WorkingDirectory=/home/ubuntu/Django_Webapp
ExecStart=/home/ubuntu/ram/bin/Django_Webapp/ram/bin/gunicorn
         --access-logfile - \
         --workers 3 \
         --bind unix:/home/ubuntu/run/gunicorn.sock \ django_web_app.wsgi.application
[Install]
WantedBy=multi-user.target
